@use "../styles.scss" as s;

.container {
  background-color: s.$White;
  margin: 0 1.5rem;
  border-radius: 5px;
  padding: 1.5rem;
  max-width: 33rem;

  .header-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    .img {
      width: 1.5rem;
    }
    .title {
      margin: 0;
      font-weight: 700;
      color: s.$DarkPurple;
    }
  }
  .accordions-container {
    .accordion {
      margin: 1.5rem 0;
      .question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        font-weight: 600;
        color: s.$DarkPurple;
        transition: color 0.1s;
        &:hover {
          cursor: pointer;
          color: s.$ElectricPurple;
        }
      }
      .text {
        color: rgba($color: s.$GrayishPurple, $alpha: 1);
        line-height: 1.5rem;
      }
    }
    .accordion[open] {
      max-height: 100rem;
      .question {
        .icon {
          content: url("../../public/assets/images/icon-minus.svg");
        }
      }
    }
  }
  .line {
    border: 1px solid s.$GrayishPurple;
    opacity: 0.1;
  }
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  .img {
    width: 1.5rem;
  }
  .text {
    font-weight: 600;
    color: s.$DarkPurple;
  }
  .line {
    border-color: rgba($color: s.$GrayishPurple, $alpha: 0.1);
  }
}
